@{
    ViewBag.Title = "JobTitles";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("5dda4f0b-c0c3-4e90-b39c-b2f7fc6ee2ae")
<div class="page--content">
    <div id="exTab1">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="#1a" data-toggle="tab"> @resxPages.UNHCRMedicineContract</a>
            </li>
            <li>
                <a href="#2a" data-toggle="tab">@resxPages.UNHCRMedicineContractDetails</a>
            </li>
        </ul>
    </div>
    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <article>
                <div id=@string.Format("{0}Filter", DataTableNames.MedicalItemInputSupplysDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ContractDate, DbColumnName = "DeliveryDate", FilterForDataType = "Date" })
                        </div>
                        <div class="col-lg-12">
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
                        </div>
                    </div>
                    <div class="form-group filter-actions">
                        @Html.DatatableFilterControls(DataTableNames.MedicalItemInputSupplysDataTable)
                    </div>
                </div>
                <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.MedicalItemInputSupplysDataTable)">
                    @Html.IndexDatatableFilter(DataTableNames.MedicalItemInputSupplysDataTable)
                    @Html.IndexDatatableCreate(Permissions.MedicalItemInputSupply.Create, Apps.EMT, "/EMT/MedicalItemInputSupplys/Create")
                    @Html.IndexDatatableDelete(Permissions.MedicalItemInputSupply.Delete, Apps.EMT, DataTableNames.MedicalItemInputSupplysDataTable)
                    @Html.IndexDatatableRestor(Permissions.MedicalItemInputSupply.Restore, Apps.EMT, DataTableNames.MedicalItemInputSupplysDataTable)
                    @Html.IndexDatatableRefresh(DataTableNames.MedicalItemInputSupplysDataTable)
                </div>
                <div class="page--body">
                    @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.MedicalItemInputSupplysDataTable, Area = "EMT", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 0 })
                </div>

            </article>
        </div>
        <div class="tab-pane " id="2a">
            <article>
                <div id=@string.Format("{0}Filter", DataTableNames.MedicalItemInputSupplyDetailsViewDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MedicalItemGUID, DbColumnName = "MedicalItemGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().MedicalItems(), IsSearchable = true })
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.DeliveryDate, DbColumnName = "DeliveryDate", FilterForDataType = "Date" })
                        </div>
                        <div class="col-lg-12">
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MedicalGenericNameGUID, DbColumnName = "MedicalGenericNameGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().MedicalGenericName(), IsSearchable = true })
                            @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.RemainingItems, DbColumnName = "RemainingItems", FilterForDataType = "Number" })
                        </div>

                    </div>
                    <div class="form-group filter-actions">
                        @Html.DatatableFilterControls(DataTableNames.MedicalItemInputSupplyDetailsViewDataTable)
                    </div>
                </div>
                <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.MedicalItemInputSupplyDetailsViewDataTable)">
                    @Html.IndexDatatableFilter(DataTableNames.MedicalItemInputSupplyDetailsViewDataTable)
                    @*<button type="button" title="Transfer Dispatched Partner Warehouse Items to Partner Pharmacies" class="btnCreate Modal-Link  btn btn-primary" data-url="@Url.Action("MedicalItemInputSupplyDetailCreate", "MedicalItemInputSupplys", new {  })"><i class="fa fa-exchange "></i></button>*@

                    @Html.IndexDatatableRefresh(DataTableNames.MedicalItemInputSupplyDetailsViewDataTable)
                </div>
                <div class="page--body">

                    @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.MedicalItemInputSupplyDetailsViewDataTable, FormController = "MedicalItemInputSupplys", Area = "EMT", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })
                </div>
            </article>
        </div>
    </div>




</div>


<script>

    if (document.referrer.indexOf("EMT/MedicalItemInputSupplys/View/") >= 0) {
        $('.nav-pills a[href="#2a"]').tab('show');
    }
</script>


<script>

    function TransferDetails(Link) {
        var table = $('#MedicalItemInputSupplyDetailsViewDataTable').DataTable();
        var tr = $(Link).parent().closest('tr');
        var row = table.row(tr);
        console.log(row.data());

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('ExpandedLoginDetails');
        }
        else {
            // Open this row
            TransferMoreDetailsTemplate(row.data(), row)
            tr.addClass('ExpandedLoginDetails');
        }
    }

     function TransferMoreDetailsTemplate(d, row) {
        var strHTML = "";
        strHTML = strHTML + "<hr style='border-bottom-style: groove;  font-weight: bold;'/>";
        $.ajax({
            method: 'post',
            datatype: 'text',
            async: false,
            url: "/EMT/MedicalItemInputSupplys/LoadingWarehouseTransfer/" + d.MedicalItemInputSupplyDetailGUID,
            success: function (JsonResult, status, xhr) {
                strHTML = strHTML + "<h5><b>@(Languages.CurrentLanguage()== "EN" ? "(Warehouse) Transfer History" : "(مستودع) سجل التحويل")</b></h5>" +
                    '<div class="row LoginMoreDetails">' +
                    '<div class="col-lg-12" >' +
                    '<div class="col-lg-1 col-xs-1 text-center">' +

                    '</div>' +
                    '<div class="col-lg-10 col-xs-10">';
                var QuantityByPackingUnitTotal = 0;
                var QuantityByPackingTransferUnitTotal = 0;
                var RemainingItemsTotal = 0;
                if (JsonResult.transfers.length != 0) {
                    strHTML = strHTML + '<div class="row" style="border-bottom-style: groove;  font-weight: bold;">' +
                        '<div class="col-lg-4" > @(Languages.CurrentLanguage()== "EN" ? "Warehouse" : "مستودع") </div>' +
                        '<div class="col-lg-2" > @(Languages.CurrentLanguage()== "EN" ? "Transfer Date" : "تاريخ التحويل") </div>' +
                        '<div class="col-lg-3" > @(Languages.CurrentLanguage()== "EN" ? "Transfer Quantity" : "كمية التحويل") </div>' +
                        '<div class="col-lg-3"> @(Languages.CurrentLanguage()== "EN" ? "Remaining Quantity" : "الكمية المتبقية")</div>' +
                        '</div>';

                    JsonResult.transfers.forEach(function (row) {
                        strHTML = strHTML + '<div class="row" style="border-bottom-style: groove;">' +
                            '<div class="col-lg-4" >' + row.Pharmacy + '</div>' +
                            '<div class="col-lg-2" >' + moment(row.DeliveryDate).format('LL') + '</div>' +
                            '<div class="col-lg-3">' + (row.QuantityByPackingUnit ) + '</div>' +
                            '<div class="col-lg-3">' + row.RemainingItems + '</div>' +
                            '</div>';
                        QuantityByPackingUnitTotal += row.QuantityByPackingUnit ;
                        RemainingItemsTotal += row.RemainingItems
                    });
                    strHTML = strHTML + '<div class="row" style="border-bottom-style: groove;  font-weight: bold;">' +
                        '<div class="col-lg-4" > @(Languages.CurrentLanguage()== "EN" ? "Totals" : "المجموع") </div>' +
                        '<div class="col-lg-2" > - </div>' +
                        '<div class="col-lg-3" > ' + QuantityByPackingUnitTotal + ' </div>' +
                        '<div class="col-lg-3"> ' + RemainingItemsTotal + ' </div>' +
                        '</div>';
                    // return strHTML;
                } else {
                    strHTML = strHTML +
                        '<div class="row">' +
                        '<label class="col-lg-1">@(Languages.CurrentLanguage()== "EN" ? "Message:" : "رسالة:") </label>' +
                        '<div class="col-lg-8">@(Languages.CurrentLanguage()== "EN" ? "No Records Found!:" : "لا توجد سجلات!") </div>' +
                        '</div>';
                }

                strHTML = strHTML + '</div>' +
                    '</div>' +
                    '</div>';

            },
            error: function (ex) {
                Notify(NotificationType.Error, "There was an error Loading Photo");
                console.log("ex", ex);
                console.log('Error: ' + ex.responseText);
            }
        });

        row.child(strHTML).show();

        return "";
    }
</script>

