
@model ItemClassificationUpdateModel
@using (Html.BeginForm("ItemClassification", "ItemModels", new { Area = "WMS" }, FormMethod.Post, new { id = "ItemClassificationForm", @class = "main-form" }))
{
    <h3>@resxPages.Details</h3>
    @Html.AntiForgeryToken()

    @Html.FormHiddenFields(model => model.WarehouseItemClassificationGUID)
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
      
            
          
            <div class="form-group HANDLER">
                @Html.LabelFor(model => model.WarehouseItemClassificationDescription)
                @Html.EditorFor(model => model.WarehouseItemClassificationDescription, new { htmlAttributes = new { @class = "form-control PageTitle", autocomplete = "off" } })
            </div>
     
     

            <div id="ItemModelFormControls" class="form-group form-footer">
                @if (Model.WarehouseItemClassificationGUID == Guid.Empty)
    {
            @Html.CreateButton(Permissions.ItemModel.Create, Apps.WMS)
}
else
{
if (Model.Active)
{
            @Html.UpdateButton(Permissions.ItemModel.Update, Apps.WMS)
            @Html.CreateNewButton(Permissions.ItemModel.Create, Apps.WMS, Url.Action("/Create", new { Area = "WMS" }))
            @Html.DeleteButton(Permissions.ItemModel.Delete, Apps.WMS)
}
else
{
            @Html.RestoreButton(Permissions.ItemModel.Restore, Apps.WMS)
}
}
                <a class="black" href="/WMS/ItemClassifications">Back</a>
                    @*@Html.BackToList(Url.Action("ItemClassifications", "ItemModels", new { Area = "WMS" }))*@
            </div>
        </div>
    </div>
}
