@{
    ViewBag.Title = "Application Requests";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("f9cc3170-7c5d-4277-9d1b-60789c00c516")
<div class="page--content">
    <div id=@string.Format("{0}Filter",DataTableNames.ApplicationRequestsDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        @*<div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.PPATypeGUID, DbColumnName = "PPATypeGUID", FilterForDataType = FilterDataTypes.Options, MustHasInitValue = false, DataList = new DropDownList().PPATypes() })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ImplementationAreaGUID, DbColumnName = "ImplementationAreaGUID", FilterForDataType = FilterDataTypes.Options, MustHasInitValue = false, DataList = new DropDownList().PPAAreasOfImplementations() })

            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.PPADescription, DbColumnName = "PPADescription", FilterForDataType = FilterDataTypes.Text })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.OrganizationInstanceGUID, DbColumnName = "OrganizationInstanceGUID", FilterForDataType = FilterDataTypes.Boolean, MustHasInitValue = false, DataList = new DropDownList().PartnersList() })
            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = FilterDataTypes.Boolean, MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })

            </div>
        </div>*@
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.ApplicationRequestsDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer",DataTableNames.ApplicationRequestsDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.ApplicationRequestsDataTable)
        @Html.IndexDatatableCreateNoPermission(Url.Action("/Create/", "ServiceRequest", new { Area = "SRS" }))
        @Html.IndexDatatableDeleteNoPermission(DataTableNames.ApplicationRequestsDataTable)
        @Html.IndexDatatableRestorNoPermission(DataTableNames.ApplicationRequestsDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.ApplicationRequestsDataTable)
    </div>
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.ApplicationRequestsDataTable, FormController = "ServiceRequest", Area = "SRS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })
    </div>
</div>
