@model ConfigurationModel
<div class=" checkboxs-form">
    <div class="row" id="DepFocalPointsDiv">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ValueGuid)
            @if (Model.CheckBoxList.Count > 0)
            {
                <div class="mScroll" data-mcs-theme="rounded-dark" style="max-height:400px;">
                    @*<div class="chkHead-accordion-container">
                        <label class="checkbox-label">
                            <input type="checkbox" class="chkHead-accordion" />
                            <span><b>Select All</b></span>
                            <span id="SelectedMessage"></span>
                        </label>
                    </div>*@
                    @for (int i = 0; i < Model.CheckBoxList.Count; i++)
                    {
                        <div class="configOption ">
                            @Html.HiddenFor(m => Model.CheckBoxList[i].Value)
                            @Html.HiddenFor(m => Model.CheckBoxList[i].Description)
                            <label class="black ClearFindTextBox" style="margin-bottom:0!important">
                                @Html.CheckBoxFor(m => Model.CheckBoxList[i].Checked, new {@id= Model.CheckBoxList[i].Value, @class = "chkNode-accordion" })
                                @Html.DisplayFor(m => Model.CheckBoxList[i].Description)
                            </label>
                        </div>
                    }
                </div>
            }
            else
            {
                <span>No Staff members under selected options!</span>
            }
        </div>
    </div>
</div>
