@model MasterRecordStatus
<h3 class="Title">@resxPages.ItemQuantityThresholds</h3>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.ItemQuantityThresholdsDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.ItemQuantityThresholdsDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.ItemQuantityThresholdsDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.ItemQuantityThresholdsDataTable)
                @Html.FieldDataTableCreate(Permissions.MedicalItem.Create, Apps.EMT, Url.Action("ItemQuantityThresholdCreate", "MedicalItems", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.MedicalItem.Delete, Apps.EMT, DataTableNames.ItemQuantityThresholdsDataTable)
                @Html.FieldDataTableRestore(Permissions.MedicalItem.Restore, Apps.EMT, DataTableNames.ItemQuantityThresholdsDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.ItemQuantityThresholdsDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.ItemQuantityThresholdsDataTable, FormController = "MedicalItems", Area = "EMT", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>