@{
    ViewBag.Title = "JobTitles";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("1cd5158c-f5e7-4762-bda2-9df58105d694")
<div class="page--content">
    <div id=@string.Format("{0}Filter", DataTableNames.CardValidationsDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.CaseNumber, DbColumnName = "CaseNumber", FilterForDataType = "Text" })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
            </div>
        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.CardValidationsDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.CardValidationsDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.CardValidationsDataTable)
        @Html.IndexDatatableSubmit(Permissions.CardValidation.Confirm, Apps.IDC, DataTableNames.CardValidationsDataTable)
        @Html.FieldDataTableDelete(Permissions.CardIssued.Delete, Apps.IDC, DataTableNames.CardValidationsDataTable)
        @Html.FieldDataTableRestore(Permissions.CardIssued.Restore, Apps.IDC, DataTableNames.CardValidationsDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.CardValidationsDataTable)
    </div>
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.CardValidationsDataTable, Area = "IDC", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 0 })
    </div>
</div>
<script>
    var myVar = setInterval(myTimer, 60000);
    function myTimer() {
        DataTableRefresh('CardValidationsDataTable');
    }
</script>
