@model MasterRecordStatus
<h3 class="Title">@resxPages.Globalization</h3>
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.AppointmentTypeLanguagesDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.AppointmentTypeLanguagesDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.AppointmentTypeLanguagesDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.AppointmentTypeLanguagesDataTable)
                @Html.FieldDataTableCreate(Permissions.AppointmentType.Create, Apps.AMS, Url.Action("AppointmentTypeLanguageCreate", "AppointmentTypes", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.AppointmentType.Delete, Apps.AMS, DataTableNames.AppointmentTypeLanguagesDataTable)
                @Html.FieldDataTableRestore(Permissions.AppointmentType.Restore, Apps.AMS, DataTableNames.AppointmentTypeLanguagesDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.AppointmentTypeLanguagesDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.AppointmentTypeLanguagesDataTable, FormController = "AppointmentTypes", Area = "AMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>