@{
    ViewBag.Title = "JobTitles";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("3a48480b-8f29-4cd1-86ac-5a2eb8739c5a")
<div class="page--content">
    <div id=@string.Format("{0}Filter", DataTableNames.AppointmentTypesDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.AppointmentTypeDescription, DbColumnName = "AppointmentTypeDescription", FilterForDataType = "Text" })
            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
            </div>
        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.AppointmentTypesDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.AppointmentTypesDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.AppointmentTypesDataTable)
        @Html.IndexDatatableCreate(Permissions.AppointmentType.Create, Apps.AMS, "/AMS/AppointmentTypes/Create")
        @Html.IndexDatatableDelete(Permissions.AppointmentType.Delete, Apps.AMS, DataTableNames.AppointmentTypesDataTable)
        @Html.IndexDatatableRestor(Permissions.AppointmentType.Restore, Apps.AMS, DataTableNames.AppointmentTypesDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.AppointmentTypesDataTable)
    </div>
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.AppointmentTypesDataTable, Area = "AMS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 0 })
    </div>
</div>
