@model MasterRecordStatus
@*<h3 class="Title">Bank Accounts</h3>*@
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      
            <div id=@string.Format("{0}Filter", DataTableNames.WMSContractSTIItemsDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.WMSContractSTIItemsDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.WMSContractSTIItemsDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.WMSContractSTIItemsDataTable)
                @Html.FieldDataTableCreate(Permissions.LicenseandSubscriptionContracts.Create, Apps.WMS, Url.Action("ContractSTIItemsCreate", "LicenseSubscription", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.LicenseandSubscriptionContracts.Delete, Apps.WMS, DataTableNames.WMSContractSTIItemsDataTable)
                @Html.FieldDataTableRestore(Permissions.LicenseandSubscriptionContracts.Restore, Apps.WMS, DataTableNames.WMSContractSTIItemsDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.WMSContractSTIItemsDataTable)
            </div>
        
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.WMSContractSTIItemsDataTable, FormController = "LicenseSubscription", Area = "WMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>