@model codeWarehouseItemModelLanguage
@using (Html.BeginForm("ItemModelLanguage", "ItemModels", new { Area = "WMS" }, FormMethod.Post, new { id = "ItemModelLanguageForm" }))
{
    string ModalTitle = Model.WarehouseItemModelLanguageGUID.ToString() == Guid.Empty.ToString() ? "New Language" : "Edit Language";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.WarehouseItemModelLanguageGUID)
        @Html.HiddenFor(model => model.WarehouseItemModelGUID)
        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID)
            @Html.DropDownListFor(model => model.LanguageID, new DropDownList().Languages(false), "", new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ModelDescription)
            @Html.EditorFor(model => model.ModelDescription, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @if (Model.WarehouseItemModelLanguageGUID == Guid.Empty)
        {
            @Html.CreateButton(Permissions.ItemModel.Create, Apps.WMS)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.ItemModel.Update, Apps.WMS)
                @Html.DeleteSwitchButton(Permissions.ItemModel.Delete, Apps.WMS)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.ItemModel.Delete, Apps.WMS)
            }
        }
        @Html.CloseModalButton()
    </div>
}
