@model MasterRecordStatus
<h3 class="Title">@resxPages.Warehouses</h3>
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.ItemModelWarehouseDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.ItemModelWarehouseDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.ItemModelWarehouseDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.ItemModelWarehouseDataTable)
                @Html.FieldDataTableCreate(Permissions.ItemModel.Create, Apps.WMS, Url.Action("ItemModelWarehouseCreate", "ItemModels", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.ItemModel.Delete, Apps.WMS, DataTableNames.ItemModelWarehouseDataTable)
                @Html.FieldDataTableRestore(Permissions.ItemModel.Restore, Apps.WMS, DataTableNames.ItemModelWarehouseDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.ItemModelWarehouseDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.ItemModelWarehouseDataTable, FormController = "ItemModels", Area = "WMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>