@model DamagedLostDistributionBlukItemUpdateModel
@using (Html.BeginForm("DamagedLostDistributionBlukItems", "DamagedLostDistribution", new { Area = "PMD" }, FormMethod.Post, new { id = "DamagedLostDistributionBulkDetailForm" }))
{
    string ModalTitle =  "Bulk Items Damaged Lost Distribution" ;
    @Html.Partial("_ModalHeader", ModalTitle)
<div class="modal-body">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DamagedLostDistributionGUID)
   
    <div class="row">

        <div class="col-sm-5"> @Html.Label(resxDbFields.ItemName) </div>
        <div class="col-sm-4">@Html.Label(resxDbFields.Category) </div>
        <div class="col-sm-3"> @Html.Label(resxDbFields.TotalAmount) </div>
    </div>
    <hr />
    <div class="mScroll blueDataTableHeader" data-mcs-theme="rounded-dark" style="max-height:400px;">
        @if (Model.damagedLostDistributionDetails != null)
        {
            for (var i = 0; i < Model.damagedLostDistributionDetails.Count; i++)
            {
                <div class="row">
                    @Html.HiddenFor(model => model.damagedLostDistributionDetails[i].UnitOfAchievementGUID)
                    @Html.HiddenFor(model => model.damagedLostDistributionDetails[i].DamagedLostDistributionDetailGUID)
                    <div class="col-sm-5"> @Html.DisplayFor(model => model.damagedLostDistributionDetails[i].UnitOfAchievementDescription) </div>
                    <div class="col-sm-4">@Html.DisplayFor(model => model.damagedLostDistributionDetails[i].UnitOfAchievementGroupingDescription) </div>
                    <div class="col-sm-3"> @Html.EditorFor(model => model.damagedLostDistributionDetails[i].MeasurementTotal, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" }, @style = "width:30px;" }) </div>
                </div>
                <hr />
            }
        }
    </div>
</div>
    <div class="modal-footer form-footer">

        @Html.CreateButton(Permissions.PMDDamagedLostDistribution.Create, Apps.PMD)
        @Html.CloseModalButton()
    </div>
    }
