@{
    ViewBag.Title = "JobTitles";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("e1520f8d-83fe-4370-8b8a-490e8694a2e5")
<div class="page--content">
    <div id=@string.Format("{0}Filter", DataTableNames.NoteVerbalesDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.VisitDate, DbColumnName = "VisitDate", FilterForDataType = "Date" })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Reference, DbColumnName = "Reference", FilterForDataType = "Text" })
            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ReferralStatusDescription, DbColumnName = "ReferralStatusGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().ReferralStatus(Apps.MRS), IsSearchable = true })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.DutyStationDescription, DbColumnName = "DutyStationGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().DutyStationsByProfile(), IsSearchable = true })
            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MissionAccomplished, DbColumnName = "MissionAccomplished", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().CheckBoxRecordStatus() })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MissionReport, DbColumnName = "MissionReport", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().CheckBoxRecordStatus() })

            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MissionCategoryGUID, DbColumnName = "MissionCategoryGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().LookupValues(LookupTables.MissionCategory), IsSearchable = true })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.OrganizationMissionTypeGUID, DbColumnName = "OrganizationMissionTypeGUID", FilterForDataType = FilterDataTypes.Options, DataList = new DropDownList().LookupValues(LookupTables.OrganizationMissionType), IsSearchable = true })
            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
            </div>
        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.NoteVerbalesDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.NoteVerbalesDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.NoteVerbalesDataTable)
        @Html.IndexDatatableCreate(Permissions.NoteVerbale.Create, Apps.MRS, "/MRS/NoteVerbales/Create")
        @Html.IndexDatatableDelete(Permissions.NoteVerbale.Delete, Apps.MRS, DataTableNames.NoteVerbalesDataTable)
        @Html.IndexDatatableRestor(Permissions.NoteVerbale.Restore, Apps.MRS, DataTableNames.NoteVerbalesDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.NoteVerbalesDataTable)
    </div>
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.NoteVerbalesDataTable, Area = "MRS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 0 })
    </div>

</div>


