@model codeDepartmentsLanguages
@using (Html.BeginForm("DepartmentLanguage", "Codes", new { Area = "CMS" }, FormMethod.Post, new { id = "DepartmentLanguageForm" }))
{
    string ModalTitle = Model.DepartmentLanguageGUID.ToString() == Guid.Empty.ToString() ? "New Language" : "Edit Language";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.DepartmentLanguageGUID)
        @Html.HiddenFor(model => model.DepartmentGUID)
        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID)
            @Html.DropDownListFor(model => model.LanguageID, new DropDownList().Languages(false), "", new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentDescription)
            @Html.EditorFor(model => model.DepartmentDescription, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @if (Model.DepartmentLanguageGUID == Guid.Empty)
        {
            @Html.CreateButton(Permissions.Departments.Create, Apps.CMS)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.Departments.Update, Apps.CMS)
                @Html.DeleteSwitchButton(Permissions.Departments.Delete, Apps.CMS)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.Departments.Restore, Apps.CMS)
            }
        }
        @Html.CloseModalButton()
    </div>
}
