@model MasterRecordStatus
<h3 class="Title">@resxPages.Globalization</h3>
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter",DataTableNames.DepartmentLanguagesDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.DepartmentLanguagesDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer",DataTableNames.DepartmentLanguagesDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.DepartmentLanguagesDataTable)
                @Html.FieldDataTableCreate(Permissions.Departments.Create, Apps.CMS, Url.Action("DepartmentLanguageCreate", "Codes", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.Departments.Delete, Apps.CMS, DataTableNames.DepartmentLanguagesDataTable)
                @Html.FieldDataTableRestore(Permissions.Departments.Restore, Apps.CMS, DataTableNames.DepartmentLanguagesDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.DepartmentLanguagesDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.DepartmentLanguagesDataTable, FormController = "Codes", Area="CMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>