@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("7b5636e1-0084-415b-b650-77d98dac1fd1")

<div class="page--content">

    <div id=@string.Format("{0}Filter", DataTableNames.AllDamagedItemRequestsDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Year, DbColumnName = "Year", FilterForDataType = "Text" })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MonthName, DbColumnName = "Month", FilterForDataType = "Text" })
               

            </div>

        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.AllDamagedItemRequestsDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.AllDamagedItemRequestsDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.AllDamagedItemRequestsDataTable)
        @Html.IndexDatatableCreate(Permissions.WarehouseItemsEntry.Create, Apps.WMS, "/WMS/StaffItemDamaged/StaffDamagedItemICTCreate")
        
        @Html.IndexDatatableDeleteNoPermission(DataTableNames.AllDamagedItemRequestsDataTable)
        @Html.IndexDatatableRestorNoPermission(DataTableNames.AllDamagedItemRequestsDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.AllDamagedItemRequestsDataTable)
        @*@Html.ActionLink(" ", "ExportDangerPayStaffForMonth", "NationalStaffDangerPayCalcualtion", new { id = @ViewBag.DangerPayInformationGUID }, new { @class = "btn btn-primary fa fa-file-o" })*@

    </div>
 
    
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.AllDamagedItemRequestsDataTable, Area = "WMS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })
        
    </div>


</div>
