@model RegisterNewUpdateModel

@using (Html.BeginForm("RegisterNew", "Registration", FormMethod.Post, new { id = "RegisterNewForm" }))
{
    string ModalTitle = "Register";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.UserGUID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SurName)
            @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress)
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.OrganizationInstanceGUID)
            @Html.DropDownListFor(model => model.OrganizationInstanceGUID, new DropDownList().OrganizationsInstances(), "", new { @class = "form-control select2-basic-search", style = "width:100%" })
        </div>*@

        <span>Password should be at least 8 charchters, has one capital letter, small letter and one number at least or one special character</span>
        <br />
        <div class="form-group">
            <label for="Password">Password</label>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
        <div class="form-group">
            <label for="Password">Re-enter Password</label>
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        <input class="btn btn-primary SLAME ActionControl" data-submittype="Create" onclick="SubmitForm(this); " type="submit" disabled="disabled" value="Register">
        @Html.CloseModalButton()
    </div>
    <div style="padding:0 15px;">
        @*@Html.Partial("~/Views/Audit/_AuditHandler.cshtml", Url.Action("GetAuditHistory", "Audit", new { Area = "", RecordGUID = Model.ApplicationLanguageGUID } ))*@
    </div>

}