@model ConfirmReturnFileModel
<style>
    .wrapper {
        position: relative;
        width: 400px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
   
</style>

@using (Html.BeginForm("FileConfimrationReturn", "ScanDocument", new { Area = "DAS" }, FormMethod.Post, new { id = "FileTransReturnferModelForm" }))
{
    string ModalTitle = Model.FileGUID.ToString() == Guid.Empty.ToString() ? "Confirm Receiving" : "Edit Receiving";
    @Html.Partial("_ModalHeader", ModalTitle)
<div class="modal-body">
    @Html.AntiForgeryToken()
    @Html.FormHiddenFields(model => model.FileGUID)


    <div class="form-group">
        @Html.LabelFor(model => model.FileReturnDate)
        @Html.EditorFor(model => model.FileReturnDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
    </div>



</div>
    <div class="modal-footer form-footer">
        @if (Model.FileGUID != Guid.Empty)
        {
            @Html.CreateButton(Permissions.RefugeeScannedDocument.Create, Apps.DAS)
            @*<input type="submit" value="Confirm Receiving Item " />*@
        }
        @Html.CloseModalButton()
    </div>
}


