@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("d8f03d94-eeeb-4416-b837-12b291d5b7cd")

<div class="page--content">

    <div id=@string.Format("{0}Filter", DataTableNames.StaffMedicalPaymentDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Year, DbColumnName = "Year", FilterForDataType = "Text" })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.MonthName, DbColumnName = "Month", FilterForDataType = "Text" })
               

            </div>

        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.StaffMedicalPaymentDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.StaffMedicalPaymentDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.StaffMedicalPaymentDataTable)
        @Html.FieldDataTableCreate(Permissions.SalaryCycle.Create, Apps.AHD, Url.Action("StaffMedicalPaymentCreate", "StaffSalary"))
        @*@Html.FieldDataTableStaffSendReminderToConfirm(Permissions.StaffOvertime.Create, Apps.AHD, Url.Action("SendConfirmationReceivingModelForPendingConfirmationStaffEmail", "NationalStaffDangerPayCalcualtion", new { FK = Model.DangerPayInformationGUID }))*@
        @*@Html.FieldDataTableCreate(Permissions.StaffOvertime.Create, Apps.AHD, Url.Action("NationalStaffDangerPayInformationCreate", "NationalStaffDangerPayCalcualtion"))*@

        @Html.IndexDatatableDelete(Permissions.SalaryCycle.Delete, Apps.AHD, DataTableNames.StaffMedicalPaymentDataTable)
        @Html.IndexDatatableRestor(Permissions.SalaryCycle.Restore, Apps.AHD, DataTableNames.StaffMedicalPaymentDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.StaffMedicalPaymentDataTable)
        @*@Html.ActionLink(" ", "ExportDangerPayStaffForMonth", "NationalStaffDangerPayCalcualtion", new { id = @ViewBag.DangerPayInformationGUID }, new { @class = "btn btn-primary fa fa-file-o" })*@

    </div>
 
    
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.StaffMedicalPaymentDataTable, Area = "AHD", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })
        
    </div>


</div>
