@model codeMedicalPharmacyLanguage
@using (Html.BeginForm("MedicalPharmacyLanguage", "MedicalPharmacys", new { Area = "EMT" }, FormMethod.Post, new { id = "MedicalPharmacyLanguageForm" }))
{
    string ModalTitle = Model.MedicalPharmacyLanguageGUID.ToString() == Guid.Empty.ToString() ? "New Language" : "Edit Language";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.MedicalPharmacyLanguageGUID)
        @Html.HiddenFor(model => model.MedicalPharmacyGUID)
        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID)
            @Html.DropDownListFor(model => model.LanguageID, new DropDownList().Languages(false), "", new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MedicalPharmacyDescription)
            @Html.EditorFor(model => model.MedicalPharmacyDescription, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @if (Model.MedicalPharmacyLanguageGUID == Guid.Empty)
        {
            @Html.CreateButton(Permissions.MedicalPharmacy.Create, Apps.EMT)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.MedicalPharmacy.Update, Apps.EMT)
                @Html.DeleteSwitchButton(Permissions.MedicalPharmacy.Delete, Apps.EMT)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.MedicalPharmacy.Delete, Apps.EMT)
            }
        }
        @Html.CloseModalButton()
    </div>
}
