@model MedicalPharmacyUpdateModel
@using (Html.BeginForm("MedicalPharmacy", "MedicalPharmacys", new { Area = "EMT" }, FormMethod.Post, new { id = "MedicalPharmacyForm", @class = "main-form" }))
{
    <h3>@resxPages.Details</h3>
    @Html.AntiForgeryToken()
   
    @Html.FormHiddenFields(model => model.MedicalPharmacyGUID)
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.MainWarehouse)
                @Html.CheckBoxFor(model => model.MainWarehouse, new { @class = "chkNode-accordion" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MedicalPharmacyDescription)
                @Html.EditorFor(model => model.MedicalPharmacyDescription, new { htmlAttributes = new { @class = "form-control PageTitle", autocomplete = "off" } })
            </div>
            <div class="form-group HANDLER">
                @Html.LabelFor(model => model.OrganizationInstanceGUID)
                @Html.DropDownListFor(model => model.OrganizationInstanceGUID, new DropDownList().OrganizationsInstancesByProfile(), "", new { style = "width:100%", @class = "form-control select2-basic-search" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sort)
                @Html.EditorFor(model => model.Sort, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
            <div id="MedicalPharmacyFormControls" class="form-group form-footer">
                @if (Model.MedicalPharmacyGUID == Guid.Empty)
                {
                    @Html.CreateButton(Permissions.MedicalPharmacy.Create, Apps.EMT)
                }
                else
                {
                    if (Model.Active)
                    {
                        @Html.UpdateButton(Permissions.MedicalPharmacy.Update, Apps.EMT)
                        @Html.CreateNewButton(Permissions.MedicalPharmacy.Create, Apps.EMT, Url.Action("/Create", new { Area = "EMT" }))
                        @Html.DeleteButton(Permissions.MedicalPharmacy.Delete, Apps.EMT)
                    }
                    else
                    {
                        @Html.RestoreButton(Permissions.MedicalPharmacy.Restore, Apps.EMT)
                    }
                }
                @Html.BackToList(Url.Action("Index","MedicalPharmacys", new { Area = "EMT" }))
            </div>
        </div>
    </div>
}
