@model codeReferralStatusLanguage
@using (Html.BeginForm("ReferralStatusLanguage", "ReferralStatus", new { Area = "REF" }, FormMethod.Post, new { id = "ReferralStatusLanguageForm" }))
{
    string ModalTitle = Model.ReferralStatusLanguageGUID.ToString() == Guid.Empty.ToString() ? "New Language" : "Edit Language";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.ReferralStatusLanguageGUID)
        @Html.HiddenFor(model => model.ReferralStatusGUID)
        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID)
            @Html.DropDownListFor(model => model.LanguageID, new DropDownList().Languages(false), "", new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @if (Model.ReferralStatusLanguageGUID == Guid.Empty)
        {
            @Html.CreateButton(Permissions.ReferralStatus.Create, Apps.REF)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.ReferralStatus.Update, Apps.REF)
                @Html.DeleteSwitchButton(Permissions.ReferralStatus.Delete, Apps.REF)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.ReferralStatus.Delete, Apps.REF)
            }
        }
        @Html.CloseModalButton()
    </div>
}
