@model ItemInputVerificationModel

@using (Html.BeginForm("VerificationItem", "ModelMovements", new { Area = "WMS" }, FormMethod.Post, new { id = "ItemInputVerificationModelForm" }))
{
    string ModalTitle = "Verify item";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        <div class="form-group">
            @Html.Label("Verification date")
            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
  

        <div class="form-group">
            @Html.LabelFor(model => model.Comments)
            @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @*<input class="btn btn-success SLAME ActionControl RetrieveItems" data-submittype="Update" onclick="SubmitForm(this);" type="submit" disabled="disabled" value="Save Changes">*@
        <input id="btnConfirm" type="submit" class="btn btn-primary" onclick="SubmitVerificationItem();" value="Save Changes" />
        @Html.CloseModalButton()
    </div>
}


<script>

    function SubmitVerificationItem() {
        var IDs = [];
        debugger;

        $(".chkPK").each(function (index) {
            console.log(index + ": " + $(this).val());
            $('<input />').attr('type', 'hidden').attr('name', "models").attr('value', $(this).val()).appendTo('#ItemInputVerificationModelForm');
        });
        
        
        var form = $('#ItemInputVerificationModelForm');
        var formData = form.serialize();
        
        $.ajax({
            method: 'post',
            url: "WMS/ModelMovements/VerificationItem/",
            data: formData,
            success: function (JsonResult, status, xhr) {
                ProcessDataTable(JsonResult, form);
            }
        });

    }
</script>


