@model ReportsVisibilityModel
@using (Html.BeginForm("ManageReportVisibility", "PartnerReports", new { Area = "PCR" }, FormMethod.Post, new { id = "ActionLanguageForm" }))
{
    string ModalTitle = "Manage Report Visibility";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.Label(resxDbFields.Partner)
            @Html.DropDownListFor(model => model.PartnerGUID_forPublish, new DropDownList().OrganizationsInstancesAcronymByProfile(), "", new {
           style = "width:100%",
           @class = "form-control select2-basic-search",
           onchange = "UpdateDropDownList([$(this).val()], [{ DropDownListID : 'CenterGUIDs_forPublish', Action : 'RemoteOrganizationInstanceByPartnerCenter'}]);"
       })
        </div>
        <input type="checkbox" id="CenterGUIDs_forPublish_checkall" />Select All
        <div class="form-group">
            @Html.Label(resxDbFields.CommunityCenters)
            @Html.DropDownListFor(model => model.CenterGUIDs_forPublish, new DropDownList().PartnerCenterMultipleValues(Model.CenterGUIDs_forPublish), "", new {
           style = "width:100%",
           @class = "form-control select2-basic-multiple",
           multiple = "multiple"

       })

        </div>
        <div class="form-group">

            @Html.Label("Update Date")
            @Html.DropDownListFor(model => model.EndDate_forPublish, new DropDownList().PartnerReportCompiledEndDateNotPublishedToo(), "", new
       {
           style = "width:100%;",
           @class = "form-control",
       })
        </div>

        <div class="form-group">
            @Html.Label(resxDbFields.ShowReport)
            @Html.CheckBoxFor(model => model.ShowReport_forPublish, new { @class = "chkNode-accordion" })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @Html.UpdateButton(Permissions.PublishReports.Access, Apps.PCR)
        @Html.CloseModalButton()
    </div>
}

<script type="text/javascript">

    $(document).on('ifChecked ifUnchecked', '#CenterGUIDs_forPublish_checkall', function (event) {
        debugger;
        if (event.type == 'ifChecked') {
            $("#CenterGUIDs_forPublish > option").prop("selected", "selected");
            $("#CenterGUIDs_forPublish").trigger("change");
        } else {
            //$("#CenterGUIDs_forPublish").iCheck('uncheck');
            $('#CenterGUIDs_forPublish').val(null).trigger('change');
        }
    });


</script>