@model MasterRecordStatus
<h3 class="Title">@resxPages.PartnerReport</h3>
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        @if (Model.IsParentActive)
        {
        <div id=@string.Format("{0}Filter", DataTableNames.PartnerReportCompiledsDataTable) class="filter-section" style="display:none;">
            <div class="row">
                <div class="col-lg-12">
                    @Html.Partial("_RecordStatus", DataTableNames.PartnerReportCompiledsDataTable)
                </div>
            </div>
        </div>
        <div class="dt-controls-field" id="@string.Format(" {0}ActionsContainer", DataTableNames.PartnerReportCompiledsDataTable)">
            @Html.FieldDataTableFilter(DataTableNames.PartnerReportCompiledsDataTable)
            @Html.FieldDataTableCreate(Permissions.UploadPartnerReport.Create, Apps.PCR, Url.Action("PartnerReportCompiledCreate", "PartnerReports", new { FK = Model.ParentGUID }))
            @Html.FieldDataTableDelete(Permissions.UploadPartnerReport.Delete, Apps.PCR, DataTableNames.PartnerReportCompiledsDataTable)
            @Html.FieldDataTableRestore(Permissions.UploadPartnerReport.Restore, Apps.PCR, DataTableNames.PartnerReportCompiledsDataTable)
            @Html.FieldDataTableRefresh(DataTableNames.PartnerReportCompiledsDataTable)
        </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.PartnerReportCompiledsDataTable, FormController = "PartnerReports", Area = "PCR", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>