@model dataBlomShuttleDelegationStaffRequest
@{
    ViewBag.Title = "DangerPay";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@{string PageTitle = (Model.BlomShuttleDelegationDateGUID == Guid.Empty) ? "New  Shuttle Delegation " : "Edit Shuttle Delegation"; }
@Html.PageHeader("2668748f-d94c-4dc0-b3ad-bbde2eca187b")


<div class="page--content">

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">


            @Html.AntiForgeryToken()
            @Html.FormHiddenFields(model => model.BlomShuttleDelegationTravelerGUID)
            @Html.HiddenFor(model => model.BlomShuttleDelegationDateGUID)


            <div class="form-group">
                @Html.LabelFor(model => model.AmountUSD)
                @Html.EditorFor(model => model.AmountUSD, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NationalIDNumber)
                @Html.EditorFor(model => model.NationalIDNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SyrianIDNumber)
                @Html.EditorFor(model => model.SyrianIDNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber)
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BranchName)
                @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>
            <div class="form-group">
                @Html.Label("Delegator")
                @Html.EditorFor(model => model.dataBlomShuttleDelegationTraveler.TravelerName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Comments)
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

            </div>

            <div class="form-group">
                @*@Html.Label("Uploaded Delegation Form")*@
                <br />
                @*@Html.FieldDataTableUploadIDelegationDocument(Url.Action("GetUploadDelegationdReport", "StaffDelegation", new { PK = @Model.BlomShuttleDelegationStaffRequestGUID }))*@

                <a name='Print Form' href='/AHD/Reports/PrintUploadedBLOMDelegationStaffReport?PK=@Model.BlomShuttleDelegationStaffRequestGUID'>Download Delegation</a>

            </div>

        </div>






        </div>


    </div>
