@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@model FileDashboardModel
@Html.PageHeader("158ea3ab-75be-4fb6-ad76-03c4c1dc5c4e")
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<link href="~/Assets/Plugin/CustomDashboard/layout.min.css" rel="stylesheet" />

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-flag-o"></i></span>
                <div class="pull-right">    </div>
                <div class="info-box-content">
                    <span class="info-box-text">Delay in return file(s)</span>
                    @Model.TotalCasesDelayInReturn

                    <div class="progress">
                    </div>
                    @*<span class="progress-description">
                        <a href="/WMS/FlowIndex" style="color:orange">Link</a>
                    </span>*@
                </div>

            </div>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
                <div class="pull-right"> </div>
                <div class="info-box-content">
                    <span class="info-box-text">All Files (Pending Confirmation)</span>
                    @Model.TotalCasesPendingConfirmation

                    <div class="progress">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    @*<span class="progress-description">

                        <a href="/WMS/PendingVerificationWarehouseIndex" style="color:orange">Link</a>
                    </span>*@
                </div>

            </div>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon"><i class="fa fa-files-o"></i></span>
                <div class="pull-right"> </div>
                <div class="info-box-content">
                    <span class="info-box-text">My Files (Pending Confirmation)</span>
                    @Model.TotalCasesUserPendingConfirmation

                    <div class="progress">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    @*<span class="progress-description">
                        <a href="/WMS/PendingVerificationOtherWarehouse" style="color:orange">Link</a>
                    </span>*@
                </div>

            </div>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
                <div class="pull-right">   </div>
                <div class="info-box-content">
                    <span class="info-box-text">Files (Have upcoming appointment)</span>
                    @Model.TotalCasesHaveAppointmentNotInfiling

                    <div class="progress">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    @*<span class="progress-description">
                        <a href="/WMS/PendingVerificationStaffIndex" style="color:orange">Link</a>
                    </span>*@
                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/ArchivedDocument">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-archive fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Archived Document(s)</h3>
                        <span>--</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

            <a class="black" href="/DAS/RefugeeScannedDocument">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-table fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>File Tracking</h3>
                        <span>--</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/FileTrackingOverviewIndex/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>File Overview</h3>
                        <span>--</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/Reports/ArchiveReport">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa- fa-file-excel-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Reports</h3>
                        <span>--</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/Home/Configuration">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Configuration</h3>
                        <span>--</span>
                    </div>
                </div>
            </a>
        </div>



    </div>
</div>
