@model VerifyEmail
@{
    ViewBag.Title = "Verify Email";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

<div class="page--header">
    <div class="page--banner">
        <h2>@resxPages.PasswordRecovery</h2>
        <div class="row">
            <div class="col-md-12">
                <article>
                    @resxPages.PasswordRecoveryArticle
                </article>
            </div>
        </div>
    </div>
</div>

<div class="page--content">
    <div class="page--body">

        @using (Html.BeginForm("VerifyEmail", "Account", FormMethod.Post))
        {
            <h3 class="page--subtitle">@resxPages.ForgetPasswordStep1</h3>
            @Html.AntiForgeryToken()
            <div class="row">
                @*@Html.Partial("_ErrorSummary")*@
                <div class="col-lg-12" style="color:red;margin:10px 0;">
                    @ViewBag.ErrorSummary
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, (string)ViewBag.Question)
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        <a class="fa fa-question-circle helpbox" data-content="@resxPages.ActiveEmail"></a>
                    </div>
                    <div class="form-group">

                        <input type="submit" value="@resxUIControls.Continue" class="btn btn-success" />
                        @Html.ActionLink(resxUIControls.BackToLogin, "Index", "Account", null, new { @class = "BackToList" })
                    </div>
                </div>
            </div>
        }
    </div>

</div>