@model codeShuttleTravelPurposeLanguage
@using (Html.BeginForm("ShuttleTravelPurposeLanguage", "ShuttleTravelPurposes", new { Area = "SHM" }, FormMethod.Post, new { id = "ShuttleTravelPurposeLanguageForm" }))
{
    string ModalTitle = Model.ShuttleTravelPurposeLanguageGUID.ToString() == Guid.Empty.ToString() ? "New Language" : "Edit Language";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.ShuttleTravelPurposeLanguageGUID)
        @Html.HiddenFor(model => model.ShuttleTravelPurposeGUID)
        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID)
            @Html.DropDownListFor(model => model.LanguageID, new DropDownList().Languages(false), "", new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShuttleTravelPurposeDescription)
            @Html.EditorFor(model => model.ShuttleTravelPurposeDescription, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
        </div>
    </div>
    <div class="modal-footer form-footer">
        @if (Model.ShuttleTravelPurposeLanguageGUID == Guid.Empty)
        {
            @Html.CreateButton(Permissions.ShuttleTravelPurpose.Create, Apps.SHM)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.ShuttleTravelPurpose.Update, Apps.SHM)
                @Html.DeleteSwitchButton(Permissions.ShuttleTravelPurpose.Delete, Apps.SHM)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.ShuttleTravelPurpose.Delete, Apps.SHM)
            }
        }
        @Html.CloseModalButton()
    </div>
}
