@model MasterRecordStatus

<h3 class="Title">@resxPages.Globalization</h3>
<div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.ApplicationLanguagesDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.ApplicationLanguagesDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.ApplicationLanguagesDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.ApplicationLanguagesDataTable)
                @Html.FieldDataTableCreate(Permissions.Applications.Create, Apps.CMS, Url.Action("ApplicationLanguageCreate", "Codes", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.Applications.Delete, Apps.CMS, DataTableNames.ApplicationLanguagesDataTable)
                @Html.FieldDataTableRestore(Permissions.Applications.Restore, Apps.CMS, DataTableNames.ApplicationLanguagesDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.ApplicationLanguagesDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.ApplicationLanguagesDataTable, FormController = "Codes", Area="CMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>
