@model MasterRecordStatus
<br />
<h3 class="Title">Factors Dependancy</h3>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter",DataTableNames.FactorsDependencyDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.FactorsDependencyDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer",DataTableNames.FactorsDependencyDataTable)" >
                    <button type="button" title="Filter" class="btnFilter btn btn-sm btn-success" onclick="ToggleFilter('@DataTableNames.FactorsDependencyDataTable');"><i class="fa fa-filter"></i></button>
                    @Html.FieldDataTableCreate(Permissions.ActionCategories.Create, Apps.CMS, Url.Action("FactorsDependencyCreate", "Codes", new { FK = Model.ParentGUID }))
                    @Html.FieldDataTableDelete(Permissions.ActionCategories.Delete, Apps.CMS, DataTableNames.FactorsDependencyDataTable)
                    @Html.FieldDataTableRestore(Permissions.ActionCategories.Restore, Apps.CMS, DataTableNames.FactorsDependencyDataTable)
                    <button type="button" title="Refresh" class="btnRefresh btn btn-sm btn-primary" onclick="DataTableRefresh('@DataTableNames.FactorsDependencyDataTable');"><i class="fa fa-refresh"></i></button>
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.FactorsDependencyDataTable, FormController = "Codes", Area="CMS", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID ,OrderBy=2})
    </div>
</div>