@model List<ReviewTrackingReportModel>
@using PPA_DAL.Model;
@{
    ViewBag.Title = "ReviewTrackingReport";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("86234502-f956-4879-b924-e761b9f659c4")


<div class="page--content">
    <br />
    @*<div id="ReviewTrackingReportFilter" class="filter-section" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.PPADescription, DbColumnName = "PPADescription", FilterForDataType = FilterDataTypes.Text })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.PPATypeGUID, DbColumnName = "PPATypeGUID", FilterForDataType = FilterDataTypes.Options, MustHasInitValue = false, DataList = new DropDownList().PPATypes() })

            </div>
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ImplementationAreaGUID, DbColumnName = "ImplementationAreaGUID", FilterForDataType = FilterDataTypes.Options, MustHasInitValue = false, DataList = new DropDownList().PPAAreasOfImplementations() })
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.OrganizationInstanceGUID, DbColumnName = "OrganizationInstanceGUID", FilterForDataType = FilterDataTypes.Boolean, MustHasInitValue = false, DataList = new DropDownList().PartnersList() })
            </div>
        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.PPADataTable)
        </div>
    </div>*@
    <div class="page--body">

        <div id="dataTableContainer">
            @Html.Partial("~/Areas/PPA/Views/Reports/_ReviewTrackingReport.cshtml", Model)
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#btnFind').click(function (e) {
        e.preventDefault();

        var PPADescription = $('#PPADescription').val();
        var PPATypeGUID = $('#PPATypeGUID').val();
        var ImplementationAreaGUID = $('#ImplementationAreaGUID').val();
        var OrganizationInstanceGUID = $('#OrganizationInstanceGUID').val();

        $.ajax({
            type: 'GET',
            url: '/PPA/Reports/ReviewTrackingReport',
            data: {
                PPADescription: PPADescription,
                PPATypeGUID: PPATypeGUID,
                ImplementationAreaGUID: ImplementationAreaGUID,
                OrganizationInstanceGUID: OrganizationInstanceGUID
            },
            success: function (data) {
                $('#dataTableContainer').html(data);
            },
            error: function (errorStatus) {
                
            }
        });
    });
</script>