@model MissionReportFormDocumentUpdateModel
@using (Html.BeginForm("MissionRepotForm", "MissionReportForm", new { Area = "IMS" }, FormMethod.Post, new { id = "MissionReportDocumentForm" }))
{
    string ModalTitle = Model.MissionReportDocumentGUID.ToString() == Guid.Empty.ToString() ? "New Document" : "Edit Document";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.MissionReportDocumentGUID)
        @Html.HiddenFor(model => model.MissionReportFormGUID)

        <div cllass="row">
            <div class="form-group">
                @Html.Label("Document Type")
                @Html.DropDownListFor(model => model.MissionReportTypeGUID, new DropDownList().MissionReportDocumentType(), "", new { @class = "form-control select2-basic-single", style = "width:100%" })

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DocumentDescription)
                @Html.EditorFor(model => model.DocumentDescription, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.DocumentDateOfIssue)
                @Html.EditorFor(model => model.DocumentDateOfIssue, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DocumentDateOfExpiry)
                @Html.EditorFor(model => model.DocumentDateOfExpiry, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>*@
            <div id="fine-uploader-manual-trigger"></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="fine-uploader-manual-trigger"></div>
            </div>
        </div>

        @*<div class="form-group HANDLER">
            @Html.Label("File Type")
            @Html.DropDownListFor(model => model.FileTypeGUID, new DropDownList().WarehouseDocumentFileType(), new { @class = "form-control select2-basic-single", style = "width:100%" })
        </div>*@
    </div>
    <div class="modal-footer form-footer">
        @if (Model.MissionReportDocumentGUID == Guid.Empty)
        {
            <input id="my-select-files-btn" type="button" value="Select Files" class="btn btn-default" />
            @Html.CreateButton(Permissions.MissionReportForm.Create, Apps.IMS)
        }
        else
        {
            if (Model.Active)
            {
                @Html.UpdateButton(Permissions.MissionReportForm.Update, Apps.IMS)
                @Html.DeleteSwitchButton(Permissions.MissionReportForm.Delete, Apps.IMS)
            }
            else
            {
                @Html.RestoreSwitchButton(Permissions.MissionReportForm.Delete, Apps.IMS)
            }
        }
        @Html.CloseModalButton()
    </div>
}


<script type="text/template" id="qq-template-manual-trigger">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="buttons">
            <div class="qq-upload-button-selector qq-upload-button hidden">
                <div id="btn-upload-files">Select files</div>
            </div>
            <button type="button" id="trigger-upload" class="btn btn-primary hidden">
                <i class="icon-upload icon-white"></i> Upload
            </button>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>

                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                @*<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">*@
                @*<span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">*@
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" id="ErrorId" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script>
    $(function () {
        $('#MissionReportDocumentForm').find(':submit').unbind();


        $('#MissionReportDocumentForm').find(':submit').click(function (e) {
            e.preventDefault();

            manualUploader.uploadStoredFiles();

        });
        $('#my-select-files-btn').click(function (e) {

            e.preventDefault();
            $('.qq-upload-button-selector').find(':input').click();
        });
    });

    var manualUploader = new qq.FineUploader({
        validation: {
            allowedExtensions: ['pdf', 'doc', 'docx','png','jpg'],
        },
        element: document.getElementById('fine-uploader-manual-trigger'),
        template: 'qq-template-manual-trigger',
        request: {
            endpoint: '/IMS/MissionReportForm/UploadMissionReportDocuments',
            params: {
                '_missionReportFormGUID': function () {
                    return $('#MissionReportFormGUID').val();
                }
                ,
                '_missionReportTypeGUID': function () {
                    return $('#MissionReportTypeGUID').val();
                }
       

            },
        },
        data: {
            '__RequestVerificationToken': $('#__RequestVerificationToken').val(),
            //'__ItemInputDetailGUID': $('#__ItemInputDetailGUID').val(),
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/source/placeholders/waiting-generic.png',
                notAvailablePath: '/source/placeholders/not_available-generic.png'
            }
        },
        callbacks: {
            onAllComplete: function (succeeded, failed) {
               // alert(JSON.stringify(jsonResult, 2, null));

                if (failed != undefined && failed.length > 0) {
                    Notify(NotificationType.Error, 'Error during uploading the files!');
                } else {
                    Notify(NotificationType.Success, 'Files uploaded successfully!');
                }
                console.log("succeeded", succeeded);
                console.log("failed", failed);


                DataTableRefresh('MissionReportDocumentDataTable');
            },
            onComplete: function (id, fileName, responseText) {

                $('#ErrorId').html("<a target='_blank' href='"+ responseText.path+"'>File Error<\a>");
                //console.log("responseText", responseText);
            }
        },
        autoUpload: false,
        debug: true
    });
</script>
