@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("3d68efd9-0939-449f-9133-dcbc856faf8c")

<div class="page--content">

    <div id=@string.Format("{0}Filter", DataTableNames.WarehouseItemRequestsDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">

            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
            </div>

        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.WarehouseItemRequestsDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.WarehouseItemRequestsDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.WarehouseItemRequestsDataTable)
        @Html.IndexDatatableCreateNoPermission("/WMS/ItemRequests/Create")
        @Html.IndexDatatableDeleteNoPermission(DataTableNames.WarehouseItemRequestsDataTable)
        @Html.IndexDatatableRestorNoPermission(DataTableNames.WarehouseItemRequestsDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.WarehouseItemRequestsDataTable)
        @*@Html.ActionLink(" ", "ExportDangerPayStaffForMonth", "NationalStaffDangerPayCalcualtion", new { id = @ViewBag.DangerPayInformationGUID }, new { @class = "btn btn-primary fa fa-file-o" })*@

    </div>


    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.WarehouseItemRequestsDataTable, Area = "WMS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })

    </div>


</div>
