@{
    ViewBag.Title = "StockItems";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("8fa1f0f3-8a2d-4824-81ce-df574331ceab")
<div class="page--content">
    <div id=@string.Format("{0}Filter", DataTableNames.ISSItemOverviewDataTable) class="filter-section" style="display:none;" DefaultButton="btnFind">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ItemGUID, DbColumnName = "ItemGUID", FilterForDataType = "Text", DataList = new DropDownList().StockInsightItems(), IsMultiple = true, IsSearchable = true })
                @*@Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.StockGUID, DbColumnName = "StockGUID", FilterForDataType = "Text", DataList = new DropDownList().StockInsighsStocks(), IsMultiple = true, IsSearchable = true })*@
                
                @*@Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.ItemDescription, DbColumnName = "ItemDescription", FilterForDataType = "Text" })*@
                @*@Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.DutyStationDescription, DbColumnName = "DutyStationGUID", FilterForDataType = "Options", DataList = new DropDownList().DutyStationsByProfile(), IsMultiple = true })*@

            </div>

            <div class="col-lg-12">
                @*@Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.OrganizationInstanceDescription, DbColumnName = "OrganizationInstanceGUID", FilterForDataType = "Options", DataList = new DropDownList().OrganizationsInstancesByProfile(), IsMultiple = true })*@

                @Html.Partial("_FilterField", new FilterField { LabelText = resxDbFields.Active, DbColumnName = "Active", FilterForDataType = "Boolean", MustHasInitValue = true, DataList = new DropDownList().RecordStatus() })
            </div>
        </div>
        <div class="form-group filter-actions">
            @Html.DatatableFilterControls(DataTableNames.ISSItemOverviewDataTable)
        </div>
    </div>
    <div class="dt-controls-index" id="@string.Format("{0}ActionsContainer", DataTableNames.ISSItemOverviewDataTable)">
        @Html.IndexDatatableFilter(DataTableNames.ISSItemOverviewDataTable)
        @Html.FieldDataTableCreate(Permissions.StockItemDistribution.Create, Apps.ISS, Url.Action("ItemOverviewCreate", "ItemOverview"))
        @*@Html.IndexDatatableDelete(Permissions.StockItemDistribution.Delete, Apps.ISS, DataTableNames.ISSItemOverviewDataTable)*@
        @Html.IndexDatatableRestor(Permissions.StockItemDistribution.Restore, Apps.ISS, DataTableNames.ISSItemOverviewDataTable)
        @Html.IndexDatatableRefresh(DataTableNames.ISSItemOverviewDataTable)

    </div>
    <div class="page--body">
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.ISSItemOverviewDataTable, Area = "ISS", Type = DataTableTypes.Index, EditMode = DataTableEditMode.Page, OrderBy = 1 })
    </div>
</div>
