@model MasterRecordStatus

@*<h3 class="Title">R And R Dates</h3>*@
<div class="row" >
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
     
            <div id=@string.Format("{0}Filter", DataTableNames.InternationalTempStaffRAndRDatesDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.InternationalTempStaffRAndRDatesDataTable)
                    </div>
                </div>
            </div>
            <div id="@string.Format("{0}ActionsContainer", DataTableNames.InternationalTempStaffRAndRDatesDataTable)">

                @*@Html.IndexDatatableCreateNewRAndRLeaveRecord(Permissions.RefugeeScannedDocument.Create, Apps.DAS, DataTableNames.RefugeeScannedDocumentDataTable)*@
                @*@Html.FieldDataTableCreateNoActionPermission(Permissions.InternationalStaffRestAndRecuperationLeave.Create, Apps.AHD, Url.Action("TempRestAndRecuperationLeaveDateCreate", "StaffRAndRLeave", new { FK = Model.ParentGUID, @id = "TempGUIDAdd" }))*@
             @if (ViewBag.userAccessLevel == 1 && ViewBag.currentStep==1)
             {
                @Html.IndexDatatableCreateNewRAndRLeaveRecord(Permissions.InternationalStaffRestAndRecuperationLeave.Create, Apps.AHD, Url.Action("TempRestAndRecuperationLeaveDateCreate", "StaffRAndRLeave", new { FK = Model.ParentGUID }))
             }

            </div>
        <br />

        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.InternationalTempStaffRAndRDatesDataTable, FormController = "StaffRAndRLeave", Area = "AHD", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })

        
    </div>
</div>
<script>
    var userAccessLevel = '@ViewBag.userAccessLevel';
    
</script>