@model TempRestAndRecuperationRequestLeaveDateModel
@using (Html.BeginForm("TempRestAndRecuperationRRALDate", "StaffRAndRLeave", new { Area = "AHD" }, FormMethod.Post, new { id = "TempLeaves" }))
{
    string ModalTitle = Model.TempRestAndRecuperationRequestLeaveDateGUID.ToString() == Guid.Empty.ToString() ? "New RR" : "Edit RR";
    @Html.Partial("_ModalHeader", ModalTitle)
<div class="modal-body">
    @Html.AntiForgeryToken()
    @Html.FormHiddenFields(model => model.TempRestAndRecuperationRequestLeaveDateGUID)
    @Html.HiddenFor(model => model.RestAndRecuperationLeaveGUID)
    @Html.HiddenFor(model => model.LeaveTypeGUID)



    <div class="form-group">

        @Html.Label("Start Date")
        @Html.EditorFor(model => model.TravelTimeIn, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

    </div>
    <div class="form-group">
        @Html.Label("End Date")

        @Html.EditorFor(model => model.TravelTimeOut, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.Label("Comments")

        @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
    </div>

</div>
    <div class="modal-footer form-footer">
        @if (Model.TempRestAndRecuperationRequestLeaveDateGUID == null || Model.TempRestAndRecuperationRequestLeaveDateGUID == Guid.Empty)
        {
            @Html.CreateButtonNoPermission(Permissions.InternationalStaffRestAndRecuperationLeave.Create, Apps.AHD)
        }
        else
        {
            if (Model.Active)
            {

                @Html.UpdateButtonNoPermission(Permissions.InternationalStaffRestAndRecuperationLeave.Update, Apps.AHD)

                @Html.DeleteButtonNoPermission()


            }
            else
            {
                @Html.RestoreButton(Permissions.InternationalStaffRestAndRecuperationLeave.Delete, Apps.AHD)
            }
        }
        @Html.CloseModalButton()
    </div>
}
