@model MasterRecordStatus
<h3 class="Title">@resxPages.MedicalDiscrepancyDetail</h3>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.MedicalDiscrepancyDetailsDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.MedicalDiscrepancyDetailsDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.MedicalDiscrepancyDetailsDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.MedicalDiscrepancyDetailsDataTable)
                @Html.FieldDataTableCreate(Permissions.MedicalDiscrepancy.Create, Apps.EMT, Url.Action("MedicalDiscrepancyDetailCreate", "MedicalDiscrepancys", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.MedicalDiscrepancy.Delete, Apps.EMT, DataTableNames.MedicalDiscrepancyDetailsDataTable)
                @Html.FieldDataTableRestore(Permissions.MedicalDiscrepancy.Restore, Apps.EMT, DataTableNames.MedicalDiscrepancyDetailsDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.MedicalDiscrepancyDetailsDataTable)
            </div>
        }
        <div class="mScroll blueDataTableHeader" data-mcs-theme="rounded-dark" style="max-height:300px;">
            @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.MedicalDiscrepancyDetailsDataTable, FormController = "MedicalDiscrepancys", Area = "EMT", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
        </div>
    </div>
</div>