@model MasterRecordStatus

<h3 class="Title">PPA Files</h3>
@*<div class="row">
    @*<div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">*@
        @if (Model.IsParentActive)
        {
            <div id=@string.Format("{0}Filter", DataTableNames.PPAFilesDataTable) class="filter-section" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.PPAFilesDataTable)
                    </div>
                </div>
            </div>
            <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.PPAFilesDataTable)">
                @Html.FieldDataTableFilter(DataTableNames.PPAFilesDataTable)
                @Html.FieldDataTableCreate(Permissions.PPAManagement.Create, Apps.PPA, Url.Action("PPAFilesCreate", "Management", new { FK = Model.ParentGUID }))
                @Html.FieldDataTableDelete(Permissions.PPAManagement.Delete, Apps.PPA, DataTableNames.PPAFilesDataTable)
                @Html.FieldDataTableRestore(Permissions.PPAManagement.Restore, Apps.PPA, DataTableNames.PPAFilesDataTable)
                @Html.FieldDataTableRefresh(DataTableNames.PPAFilesDataTable)
            </div>
        }
        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.PPAFilesDataTable, FormController = "Management", Area = "PPA", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    @*</div>*@
@*</div>*@
